


* {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    /* background: #222129; */
}

body {
  background: #222129;
}

#app {
  display: grid;
  grid-template-rows: 100px 1fr ;
  grid-gap: 1em;


  background: #222129;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: white;

}


p {
  color:#888;
}

.header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: rgb(25, 20, 20);
  font-size: 24px;

}



.grid-wrapper {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(auto-fill, minmax(140px, auto));
  /* grid-auto-rows: 70px; */
  grid-gap: 2em;
  margin: 2%;
  /* border-style: solid; */

}
 .grid-card {
  display: grid;
  /* border-style: solid; */
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  grid-template-rows: auto 4.5em;
  background-color: #2B2A34;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  /* padding-bottom: 1.5em */
}

.grid-card button {
  background-color: #2B2A34;
  color:#ddd;
  font-weight: bold;
  border: 0;
  border-radius: 4px;

}

img {
    max-width: 100%;
    border-radius: 4px;
    position: relative;
}

.song-key{
  color: GhostWhite;
}


.grid-card:hover {
  -webkit-transform: translateY(-1.5%);
}



 .item-details {
   display: flex;
   /* grid-auto-rows: minmax(100px, 1fr);
   grid-template-columns: minmax(175px, auto) minmax(175px, auto);
   grid-gap: 1em; */

   /* border-style: solid; */
   border-radius: 4px;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
   background-color: #2B2A34;
 }

 .item-details img{
   margin-right: 1em;
   object-fit: cover;
   width:100%;
   height:100%;
   max-width: 250px;
   max-height: 250px;
 }
 .item-details a{
   font-size: 1.5em;
   color: GhostWhite;
 }

 .audio-player{
   display: block;
   border-radius: 20px;
   margin:0 auto;
 }




/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
